Client.Receiver/Service References/EncodeService/EncodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EncodeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/EncodeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/EncodeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/EncodeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
      <xsd:import schemaLocation="http://localhost:8080/Design_Time_Addresses/EncodeService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEncodeService_Encode_InputMessage">
    <wsdl:part name="parameters" element="tns:Encode" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_Encode_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncodeResponse" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetNumberOfBlocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfBlocks" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetNumberOfBlocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfBlocksResponse" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetChunkSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChunkSize" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetChunkSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChunkSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetFileSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSize" />
  </wsdl:message>
  <wsdl:message name="IEncodeService_GetFileSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEncodeService">
    <wsdl:operation name="Encode">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncodeService/Encode" message="tns:IEncodeService_Encode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncodeService/EncodeResponse" message="tns:IEncodeService_Encode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfBlocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncodeService/GetNumberOfBlocks" message="tns:IEncodeService_GetNumberOfBlocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncodeService/GetNumberOfBlocksResponse" message="tns:IEncodeService_GetNumberOfBlocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChunkSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncodeService/GetChunkSize" message="tns:IEncodeService_GetChunkSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncodeService/GetChunkSizeResponse" message="tns:IEncodeService_GetChunkSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncodeService/GetFileSize" message="tns:IEncodeService_GetFileSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncodeService/GetFileSizeResponse" message="tns:IEncodeService_GetFileSize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncodeServiceEndpoint" type="tns:IEncodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encode">
      <soap:operation soapAction="http://tempuri.org/IEncodeService/Encode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfBlocks">
      <soap:operation soapAction="http://tempuri.org/IEncodeService/GetNumberOfBlocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChunkSize">
      <soap:operation soapAction="http://tempuri.org/IEncodeService/GetChunkSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSize">
      <soap:operation soapAction="http://tempuri.org/IEncodeService/GetFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncodeService">
    <wsdl:port name="EncodeServiceEndpoint" binding="tns:EncodeServiceEndpoint">
      <soap:address location="http://localhost:8080/Design_Time_Addresses/EncodeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>